* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s all ease;
}

:root {
    --theme-color: #2c5272;
    --theme-bold: white;
    --theme-text: #212529;
    --task-bg: rgb(255, 255, 255);
    --task-link: #2c5272;
    --task-icon: white;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px;
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked+div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}


::-webkit-scrollbar {
    display: none;
}

html,
body {
    background: transparent;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.avatar {
    position: absolute;
    width: 125px;
    height: 125px;
    background-image: url("avatar.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    bottom: -55%;
    left: 20px;
    box-shadow: 0 0 0 4px white;
}

.body {
    padding: 10px;
}

.footer {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 500px;
    bottom: 0;
}

.task-bar {
    width: 70%;
    line-height: 10px;
    padding: 10px;
    margin: 0 auto;
    background: var(--task-bg);
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.task-bar:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.task-bar a {
    color: var(--task-icon);
    display: inline-block;
    margin: 0 10px;
    background: var(--task-link);
    padding: 8px;
    border-radius: 6px;
}

.task-bar a:hover {
    cursor: pointer;
}

/* CSS ITEMS */
.card-items {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.card-items:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    background: var(--theme-color);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: var(--theme-bold);
}

.card-contents {
    padding: 10px;
}

hr {
    border: 0;
    border-bottom: 2px solid var(--theme-color);
    margin: 5px auto;
}

.progress {
    margin: 8px auto;
    padding: 0;
    height: 20px;
    overflow: hidden;
    background: var(--theme-color);
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: var(--theme-color);
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.contactsLink {
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 6px 0;
    text-decoration: none;
}

.items {
    border: 1px solid #ddd;
    border-left: 4px solid var(--theme-color);
    border-radius: 0px 10px 10px 0px;
    padding: 8px;
    margin: 10px 0px;
    background: rgb(246, 244, 244);
}