* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    background: transparent;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.avatar {
    position: absolute;
    width: 125px;
    height: 125px;
    background-image: url("avatar.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    bottom: -55%;
    left: 20px;
    box-shadow: 0 0 0 4px white;
}

.body {
    padding: 10px;
}

.footer {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 500px;
    bottom: 0;
}

.task-bar {
    width: 70%;
    line-height: 10px;
    padding: 10px;
    margin: 0 auto;
    background: #212529;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.task-bar:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.task-bar a {
    color: white;
    display: inline-block;
    margin: 0 10px;
    background: #1e1e1e;
    padding: 8px;
    border-radius: 6px;
}

.task-bar a:hover {
    cursor: pointer;
}

/* CSS ITEMS */
.card-items {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.card-items:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    background: #212529;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
}

.card-contents {
    padding: 10px;
}

hr {
    border: 0;
    border-bottom: 2px solid #212529;
    margin: 5px auto;
}

.progress {
    margin: 8px auto;
    padding: 0;
    height: 20px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    /* background: cornflowerblue; */
    background: #212529;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.contactsLink {
    font-weight: bold;
    color: black;
    display: block;
    margin: 5px 0;
    text-decoration: none;
}

.items {
    border: 1px solid #ddd;
    border-left: 4px solid #212529;
    border-radius: 0px 10px 10px 0px;
    padding: 8px;
    margin: 10px 0px;
    background: rgb(246, 244, 244);
}